* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #c04545;
  background-image: repeating-linear-gradient(
      to right,
      transparent 0 100px,
      #25283b22 100px 101px
    ),
    repeating-linear-gradient(
      to bottom,
      transparent 0 100px,
      #25283b22 100px 101px
    );
}

.blur {
  filter: blur(5px);
}
/* .area {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
} */

.button1 {
  background-color: #c04545;
  border: none;
}
.button1:hover {
  background-color: #c04545;
  border: 1px solid white;
}

.modalImage {
  width: 85%;
  height: 85%;
  object-fit: cover;
}

.detail:hover {
  background-color: rgb(249, 254, 0);
  padding-right: 75px;
}

.detail {
  margin-left: 400px;
  padding: 10px;
  border-radius: 10px;
  transition: padding-right 0.3s ease-in-out;
}

.kontenArea {
  position: absolute;
  background-color: transparent;
  width: 1100px;
  height: 360px;
  top: 10%;
  left: calc(50% - 550px);
  transform-style: preserve-3d;
  transform: perspective(1700px);
  z-index: 2;
  align-self: center;
  border-radius: 15px;
  border: 1px solid white;
}
.area {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow-y: auto; /* Enable vertical scrolling */
  position: relative;
  display: flex;
  justify-content: center;
  padding: 55px;
  align-items: flex-start;
}

.kontenArea2 {
  width: 100%;
  max-width: 1150px;
  background-color: white;
  gap: 10px;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Style for the cards inside the modal */
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 0px;
}

.cardList1 {
  color: #333;
  border: 1px solid #333;
  padding: 20px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 15px;
  width: 270px;
  height: auto;
  background-color: transparent;
}

.cardList1:hover {
  background-color: #c04545;
  color: white;
}

.cardList2 {
  color: #333;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 30px;
  box-sizing: border-box;
}

.cardDescription {
  display: -webkit-box; /* Use a flexbox layout for webkit browsers */
  -webkit-box-orient: vertical; /* Set the box orientation to vertical */
  -webkit-line-clamp: 4; /* Limit the number of lines to 4 */
  overflow: hidden; /* Hide the overflow text */
  text-overflow: ellipsis; /* Add ellipsis (...) for overflow text */
  max-height: 6em; /* Set a max height based on the line height (4 lines * line-height) */
  line-height: 1.5em; /* Adjust the line height as needed */
  text-align: left;
  margin-bottom: 20px;
}

.listGambarContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adjust the gap as needed */
  justify-content: center;
  padding-bottom: 20px;
}

.smallGambar {
  width: 200px; /* Set a fixed width */
  height: 115px; /* Set a fixed height */
  transition: transform 1.5s ease-in-out;
}

.smallGambar:hover {
  transform: scale(3); /* Adjust the scale as needed */
  z-index: 10; /* Ensure the enlarged image stays on top */
}

.slideContainer {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 0px;
}

.triangleDown {
  width: 50px; /* Lebar segitiga */
  height: 50px; /* Tinggi segitiga */
  background: linear-gradient(to bottom, #c04545, rgb(249, 254, 0));
  clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
  animation: clickMe 1.5s infinite;
  left: 25.5vw;
}

@keyframes clickMe {
  0% {
    gap: 2.5vw;
  }
  50% {
    top: 2vw;
  }
  100% {
    top: 2.5vw;
  }
}

.listLogoContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adjust the gap as needed */
  justify-content: center;
  padding-bottom: 20px;
}

.smallLogo {
  width: 35px; /* Set a fixed width */
  height: 35px; /* Set a fixed height */
}

.backButton {
  color: white;
  background-color: #c04545;
  transition: padding-left 0.3s ease-in-out;
}

.backButton:hover {
  background-color: #c04545;
  padding-left: 80px !important;
}
